body {
  font-family: 'Saira', sans-serif; }

#home, #aboutHome, #ListingHome {
  background: url("../img/home-cover.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px; }

header {
  position: relative;
  height: 300px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(20% - 5vw)); }

/* change the calc height to a percentage height to get alternate responsive behavior*/
